.profile__subtitle {
  max-width: 336px;
  margin: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media screen and (max-width: 568px){
  .profile__subtitle {
    max-width: 282px;
    font-size: 14px;
    line-height: 17px;
  }
}
