.login__form-button {
    display: block;
    width: 100%;
    padding: 14px 84px;
    margin-top: 188px;
    background: #FFFFFF;
    border-radius: 2px;
    border: 0;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #000000;
    cursor: pointer;
}

.login__form-button:hover {
    opacity: 0.85;
}